{% extends 'admin/base.html' %}
{% load static %}{% block branding %}{% block extrastyle %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel='stylesheet' href='{% static 'css/admin.css' %}'>
{% endblock %}<h1 = 'head'><img src="{% static 'img/logo.png' %}" alt="logo" class="brand_img" height="50" width="80">Django Admin</h1>
{% endblock %}