<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% block branding %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    {% block extrastyling %}
    {% endblock %}
    <img src="{% static 'img/logo.png' %}" alt="logo" class="brand_img" height="50" width="80">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
