{% extends 'travel/base.html' %}

{% block branding %}
<title>TravelSafe > Detail: {{ form.name_text.value }} -> {{ form.restricting_country.value }}</title>
{% endblock %}
{% block content %}
  <h1 class="banner-text">TravelSafe > Detail: {{ form.name_text.value }} -> {{ form.restricting_country.value }}</h1>
  <table>
    <thead>
      <tr>
        <th>Restriction</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    {% for field in form %}
      <tr>
        <td>{{ field.label }}</td>
        <td>{{ field.value|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'travel:index' %}">Return to index</a>
{% endblock %}