{% extends 'travel/base.html' %}

{% block branding %}
<title>TravelSafe</title>
{% endblock %}
{% block content %}
  <h1 class="banner-text">TravelSafe</h1>
  {% if countryrestriction_list %}
    <ul>
    {% for countryrestriction in countryrestriction_list %}
      <li><a href="{% url 'travel:detail' countryrestriction.id %}">{{ countryrestriction.name_text|default_if_none:'Other'}} -> {{ countryrestriction.restricting_country }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No information is available.</p>
  {% endif %}
{% endblock %}