<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel > Index</title>
  </head>
  <body>
    {% if countryrestriction_list %}
      <ul>
      {% for countryrestriction in countryrestriction_list %}
        <li><a href="{% url 'travel:detail' countryrestriction.id %}">{{ countryrestriction.name_text}} -> {{ countryrestriction.restricting_country }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No information is available.</p>
    {% endif %}
  </body>
</html>
